<div class="container">
    <nav
        class="
            navbar navbar-dark
            sticky-top
            bg-light
            flex-md-nowrap
            p-0
        "
    >
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"
            >ID Card System</a
        >
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="btn btn-link text-dark" href="#">Sign Out</a>
                <a routerLink="dashboard/register">Register</a>
                
            </li>
            <li>
                <a routerLink="dashboard/register/login">Login</a>
            </li>
        </ul>
    </nav>
</div>
