
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>Add Fees Amount</h3>
            </div>
        </div>
    </div>
</section>

<div class="content px-3">

    

    <div class="card">

    

        <div class="card-body">

            <!-- <div class="row"> -->


        <div class="add_item">
            <form>
                <div class="form-row">
                    <div class="form-group col-sm-4">
                     
                        <select class="form-control" name="class_id">
                            <option>select fees category</option>
                            <option value=""></option>
                        
                        </select>
                        
                    </div>
                    <div class="form-group col-sm-2" style="margin-top: 0px;">
                        <span class="btn btn-success addAnotherRow" (click)="addQuantity()">Add Fees</span>
                    </div>
                </div>
                <section *ngFor="let assignee of model.fees;let i=index;">
                <div class="form-row">
                  
                    <div class="form-group col-sm-4">
                    
                        <select class="form-control" name="subject_id" required>
                            <option value="">select class...</option>
                            
                            <option value=""></option>
                            
                        </select> 
                    </div>
                    <div class="form-group col-sm-2">
                        
                        <input type="text" name="full_marks" class="form-control"  required />
                    </div>
                    <div class="form-group col-sm-2" style="margin-top: 0px;">
                        
                            
                    
                        &nbsp;
                        <span class="btn btn-danger addAnotherRow" (click)="removeQuantity(i)">Delete<i class="fa fa-plus-circle"></i></span>
                    </div>
                  
                </div>

    
             </section>
             <div class="card-footer">
              <button class="btn btn-primary">Save</button>
              &nbsp;
              <a class="btn btn-primary" style="color: antiquewhite;" routerLink="/dashboard/feesamount">Cancel</a>
             </div>
            </form>


            <!-- </div> -->

        </div>



     

    </div>
</div>



<script type="text/javascript">


</script>

<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript">


</script>
