<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Student Details</h3>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<div class="content px-3">
    <div class="card">
        <div class="card-body p-0">
            <div class="card-footer clearfix">
                <form [formGroup]="SearchForm" (ngSubmit)="StudentSearch()">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>Session</label>
                            <select class="form-control" formControlName="session_id">
                                <option>select session</option>
                                <option *ngFor="let x of all_sessions" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Class</label>
                            <select class="form-control" formControlName="class_id">
                                <option>select class</option>
                                <option *ngFor="let x of all_classes" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <label></label>
                        <div class="form-group col-sm-3">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <form [formGroup]="uploadForm" (ngSubmit)="uploadBulk()">
                    <div class="row">
                        Upload Student Bulk
                       <input type="file" id="file" formControlName="file" (change)=SetFile($event)>
                        <div class="form-group col-sm-3">
                           <button  class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </form>
                <div class="row" *ngIf="allStudentList.length>0">
                    <div class="form group col-sm-1">Sl No</div>
                    <div class="form group col-sm-2">Name</div>
                    <div class="form group col-sm-3">Email</div>
                    <div class="form group col-sm-2">Phone</div>
                    <div class="form group col-sm-1">Promote</div>
                    <div class="form group col-sm-2">Action</div>
                </div>
                <div class="row" *ngFor="let x of allStudentList;let i=index">
                    <div class="form group col-sm-1">
                    <img src="{{x.path}}" height="50" width="60">
                    </div>
                    <div class="form group col-sm-2">{{x.name}}</div>
                    <div class="form group col-sm-3">{{x.email}}</div>
                    <div class="form group col-sm-2">{{x.phone}}</div>
                    <div class="form group col-sm-1"><i (click)="openPromotePopup(x)" class="fa fa-arrow-up"></i>
                    </div>
                    <div class="form group col-sm-2">

                        <i (click)="openDeletePopup(x.id)" class="fa fa-trash-o" style="font-size:18px"></i>
                        <a href="{{x.view_url}}" target="blank"><i class="fa fa-eye" style="font-size:18px;"></i></a>
                        <i class="fa fa-pencil" style="font-size:18px"></i>
                    </div>
                </div>
                <div class="row" *ngIf="allStudentList.length>0;page">
                  <ngb-pagination [collectionSize]="total_count" [pageSize]="limit" [(page)]="page" (pageChange)="StudentSearch()" aria-label="Default pagination" formControlName="page"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Student</h4>
            </div>
            <form (ngSubmit)="deleteStudent()">
                <div class="modal-body">


                    Do you want to delete this student <b></b>?

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Yes
                    </button>

                    <button type="button" class="btn btn-danger" (click)="closeDeletePopup()">
                        No
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Promote Student</h4>
            </div>
            <form [formGroup]="PromoteForm" (ngSubmit)="PromoteStudent()">
                <div class="modal-body">

                    <div class="row">
                      <div class="form group col-sm-6">
                          
                        <select class="form-control" name="promote_session" formControlName="session_id">
                            <option value="">Select Session...</option>

                            <option value="{{x.id}}" *ngFor="let x of promote_sessions">{{x.name}}</option>

                        </select>
                      </div>
                      <div class="form group col-sm-6">
                        <select class="form-control" name="class_p" formControlName="class_id">
                            <option value="">Select Class...</option>

                            <option value="{{x.id}}" *ngFor="let x of promote_classes">{{x.name}}</option>

                        </select>
                      </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger" (click)="closePromotePopup()">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>