<html>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <form (ngSubmit)="SaveComponent()" >
        <table>
            <tr>
                <th style="text-align: center;" colspan="3">Component</th>

            </tr>

            <tr>
                <td><strong>Sl</strong></td>
                <td><strong>Component</strong></td>
                <td><strong>Amount</strong></td>
            </tr>
                <tr>

                </tr>
                
                    <tr *ngFor="let x of componentfees;index as i;">
                        <td>{{i+1}}</td>
                        <td>{{x.component}}</td>
                        <td><input  class="form-control" size="5" 
                                (keypress)="numberOnly($event)"  name="amount{{i}}" [(ngModel)]="x.amount"/></td>
                    </tr>  
                
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button type="submit" class="btn btn-primary">Save</button></td>
            </tr>

        </table>
    </form>
</body>

</html>